account joaopizani-gmail
host smtp.gmail.com
port 587
protocol smtp
auth on
from joaopizani@gmail.com
user joaopizani@gmail.com
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account default : joaopizani-gmail

logfile ~/.mutt/msmtp.log
