# GMail general macros and confs (user-independent)

set spoolfile = "+gmail/INBOX"
set postponed = "+gmail/drafts"


# Mark as Spam
macro index S "<save-message>+gmail/spam<enter>" "mark as spam"


# Go to / move to different folders
macro index,pager gi "<change-folder>+gmail/INBOX<enter>" "go to inbox"
macro index,pager gs "<change-folder>+gmail/sent<enter>" "go to sent"
macro index,pager gp "<change-folder>+gmail/spam<enter>" "go to spam"
macro index,pager gd "<change-folder>+gmail/drafts<enter>" "go to drafts"

macro index,pager gmi "<save-message>+gmail/INBOX<enter>" "move to inbox"
macro index,pager gci "<copy-message>+gmail/INBOX<enter>" "copy to inbox"



# Personal GMail config
source ~/.localmail-custom/gmail-personal-config


