{
    "nos": "http://feeds.nos.nl/nosjournaal?format=xml",
    "rtv-utrecht": "http://rss.rtvutrecht.nl/nieuws.xml",
    "band-news": "http://www.band.uol.com.br/rss/brasil.xml",

    "cfps": "http://www.wikicfp.com/cfp/rss?list=23611",
    "24oranges": "http://www.24oranges.nl/feed/",

    "ghc": "http://hackage.haskell.org/trac/ghc/blog?format=rss",

    "lwn-linux": "http://lwn.net/headlines/Features",
    "git-annex": "http://git-annex.branchable.com/design/assistant/blog/index.rss",
    "coindesk": "http://feeds.feedburner.com/CoinDesk?fmt=xml",
    "hackernews": "http://news.ycombinator.com/rss"
}
