# Index View Options
set hide_limited = yes
set hide_missing = yes
set date_format = "%Y-%m-%d %H:%M"
set index_format = "%?M?(#%02M)&(   )? [%Z] %D  %-23.23F  %?Y?[%20Y]&[                    ]? %s"
set sort = threads  # like gmail
set sort_browser = reverse-date
set sort_aux = reverse-last-date-received
set strict_threads = yes
set uncollapse_jump  # don't collapse on an unread message
folder-hook . "exec collapse-all"

# deleting (muting) threads of which the parent msg was intentionally deleted
macro index \Cw '<tag-pattern>!~(!~h References: | ~F |~s Fwd:|~s FW:|~C "$realname"|~f "$realname")<enter><tag-prefix-cond><delete-message><end-cond>'

# Index Key Bindings
bind index gg       first-entry
bind index G        last-entry
bind index R        group-reply
bind index <tab>    sync-mailbox
bind index <space>  collapse-thread
bind index _        collapse-all
bind index n        toggle-new
bind index N        search-next
bind index <Esc>t   tag-pattern
bind index,pager y  edit-label
macro index T "<collapse-thread><tag-thread>"

macro index a "<limit>all<enter><collapse-all>" "show all messages (undo limit)"

# Ctrl-R to mark all as read
macro index \Cr "<collapse-all><tag-pattern>~U<enter><tag-prefix><clear-flag>N<untag-pattern>.<enter><collapse-all>" "mark all messages as read"

macro index C "<copy-message>?<toggle-mailboxes>" "copy a message to a mailbox"
macro index M "<save-message>?<toggle-mailboxes>" "move a message to a mailbox"

