macro index <F8> "<shell-escape>rm -rf ~/.mu/results; mu find --format=links --linksdir=~/.mu/results " "mu-find"
macro index <F9> "<change-folder-readonly>~/.mu/results\n" "display mu-find results"

