# GMail general macros and confs (user-independent)

set spoolfile = "+gmail/inbox"
set postponed = "+gmail/drafts"


# Mark as Spam (move to folder and/or add spam label)
macro index Ss "<save-message>+gmail/spam<enter>" "mark as spam"
macro index Sl "<edit-label> \\Spam<enter>" "label as spam"


# Go to / move to different folders
macro index,pager ga "<change-folder>+gmail/all<enter>" "go to all mail"

macro index,pager gi "<change-folder>+gmail/inbox<enter>" "go to inbox"
macro index,pager gI "<limit>~y\\Inbox<enter><collapse-all>" "labeled inbox"

macro index,pager gs "<change-folder>+gmail/sent<enter>" "go to sent"
macro index,pager gS "<limit>~y\\Sent<enter><collapse-all>" "labeled sent"

macro index,pager gp "<change-folder>+gmail/spam<enter>" "go to spam"
macro index,pager gP "<limit>~y\\Spam<enter><collapse-all>" "labeled spam"

macro index,pager gd "<change-folder>+gmail/drafts<enter>" "go to drafts"
macro index,pager gD "<limit>~y\\Drafts<enter><collapse-all>" "labeled drafts"

macro index,pager gt "<change-folder>+gmail/trash<enter>" "go to trash"
macro index,pager gmt "<save-message>+gmail/trash<enter>" "move to trash"

macro index,pager gmi "<save-message>+gmail/inbox<enter>" "move to inbox"
macro index,pager gci "<copy-message>+gmail/inbox<enter>" "copy to inbox"



# Personal GMail config
source ~/.localmail-custom/gmail-personal-config


