[general]
ui = basic
accounts = gmail
pythonfile=~/.offlineimap.py
fsync = False



[Account gmail]
localrepository = gmail-local
remoterepository = gmail-remote
status_backend = sqlite
postsynchook = mu index --maildir=~/.mail/gmail

synclabels = yes
labelsheader = X-Label
ignorelabels = \Draft, \Trash


[Repository gmail-local]
type = GmailMaildir
localfolders = ~/.mail/gmail
nametrans = lambda folder: { 'drafts':  '[Gmail]/Drafts',
                             'all':     '[Gmail]/All Mail'
                           }.get(folder, folder)


[Repository gmail-remote]
type = Gmail
maxconnections = 2
remoteusereval = localmail_username
remotepasseval = keyring.get_password("localmail-gmail", localmail_username)
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

nametrans = lambda folder: { '[Gmail]/Drafts':    'drafts',
                             '[Gmail]/All Mail':  'all'
                           }.get(folder, folder)

folderfilter = lambda folder: folder in [ '[Gmail]/Drafts',
                                          '[Gmail]/All Mail'
                                        ]

