[general]
ui = basic
accounts = gmail
pythonfile=~/.offlineimap.py
fsync = False


[mbnames]
enabled = yes
filename = ~/.mutt/oi.boxes
header = " "
peritem = +%(accountname)s/%(foldername)s
sep = " "
footer = "\n"


[Account gmail]
localrepository = gmail-local
remoterepository = gmail-remote
status_backend = sqlite
postsynchook = mu index --maildir=~/.mail/gmail

synclabels = yes
labelsheader = X-Label
ignorelabels = \Inbox, \Starred, \Sent, \Important, \Draft, \Trash, \Spam


[Repository gmail-local]
type = GmailMaildir
localfolders = ~/.mail/gmail
nametrans = lambda folder: { 'inbox':   'INBOX',
                             'all':     '[Gmail]/All Mail',
                             'drafts':  '[Gmail]/Drafts',
                             'trash':   '[Gmail]/Trash'
                           }.get(folder, folder)


[Repository gmail-remote]
type = Gmail
maxconnections = 2
expunge = yes
remoteusereval = localmail_username
remotepasseval = keyring.get_password("localmail-gmail", localmail_username)
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

nametrans = lambda folder: { 'INBOX':             'inbox',
                             '[Gmail]/All Mail':  'all',
                             '[Gmail]/Drafts':    'drafts',
                             '[Gmail]/Trash':     'trash'
                           }.get(folder, folder)

folderfilter = lambda folder: folder in ['[Gmail]/Drafts', '[Gmail]/All Mail', 'INBOX', '[Gmail]/Trash']
