macro index O "<shell-escape>maildir-feed ~/.news<enter>" "synchronize news"

macro index,pager gw0 "<change-folder>+news/0_misc.cfps<enter>" "go news 0"
macro index,pager gw1 "<change-folder>+news/1_relax.24-oranges<enter>" "go news 1"
macro index,pager gw2 "<change-folder>+news/2_relax.ccc<enter>" "go news 2"
macro index,pager gw3 "<change-folder>+news/3_relax.phd-comics<enter>" "go news 3"
macro index,pager gw4 "<change-folder>+news/4_relax.xkcd<enter>" "go news 4"
macro index,pager gw5 "<change-folder>+news/5_tech.cs-student<enter>" "go news 5"
macro index,pager gw6 "<change-folder>+news/6_tech.ghc<enter>" "go news 6"
macro index,pager gw7 "<change-folder>+news/7_tech.git-annex<enter>" "go news 7"

