macro index O "<shell-escape>maildir-feed ~/.news<enter>" "synchronize news"

macro index,pager gw0 "<change-folder>+news/0_24-oranges<enter>" "go news 0"
macro index,pager gw1 "<change-folder>+news/1_cfps<enter>" "go news 1"
macro index,pager gw2 "<change-folder>+news/2_cs-student<enter>" "go news 2"
macro index,pager gw3 "<change-folder>+news/3_ghc<enter>" "go news 3"
macro index,pager gw4 "<change-folder>+news/4_git-annex<enter>" "go news 4"
macro index,pager gw5 "<change-folder>+news/5_nos<enter>" "go news 5"
macro index,pager gw6 "<change-folder>+news/6_phd-comics<enter>" "go news 6"
macro index,pager gw7 "<change-folder>+news/7_xkcd<enter>" "go news 7"

